<div id="top" class="header">
  <div class="vert-text">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Thank you</h1>
        <h3 class="vertical-large-padding">for your interest in <em><%= image_tag("charity_logo4.png", :alt => "Charity logo") %></em></h3>
      </div>
      <div class="col-md-6 col-md-offset-3 text-left">
        <p class="lead sub">Please provide us with your pledge information</p>

        <form role="form">
          <!-- <div class="form-group"> -->
          <!--                         <label for="pledgeAmount">Pledge Amount</label> -->
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="pledgeAmount" placeholder="Pledge Amount">
          </div>

          <!-- </div> -->
        </form>
      </div>
      <div class="col-md-6 col-md-offset-3 text-center vertical-small-padding">
        <p class="lead sub text-left">Connect to track your donation and share your pledge if you choose to. (This information is kept very private).</p>

        <ul class="col-md-6 col-md-offset-3 list-inline">
          <li><a class="btn btn-social-icon btn-facebook">
            <i class="fa fa-facebook"></i>  </a>
          </li>
          <li><a class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter"></i>   </a>
          </li>
          <li><a class="btn btn-social-icon btn-google-plus">
            <i class="fa fa-google-plus"></i>   </a>
          </li>
          <li><a class="btn btn-social-icon btn-linkedin">
            <i class="fa fa-linkedin"></i>  </a>
          </li>
        </ul>
        <label class="checkbox text-left">
          <input type="checkbox" checked="checked" class="publish-to-profile">
          <span>Publish to profile?</span>
        </label>
        <label class="checkbox text-left publish-amount-to-profile-lbl">
          <input type="checkbox" checked="checked" class="publish-amount-to-profile">
          <span>Show pledge amount?</span>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Services -->
<div id="top" class="header finished">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Your Pledge has been submitted</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="holder col-md-6 col-md-offset-3 text-center"></div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= image_tag("qrcode.png", :alt => "Charity logo") %>
        <hr>
        <p>Copyright &copy; Pledge 4 Lives 2014</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '299429903565739',
            xfbml      : true,
            version    : 'v2.0'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(function() {
        $(".btn-facebook").click(function() {
            if ($(".publish-to-profile").prop("checked")) {
                var displayAmount = $(".publish-amount-to-profile").is(":checked") && $("#pledgeAmount").val() || "";

                FB.login(function(){
                    FB.api('/me/feed', 'post', {message: 'I am awesome for pledging' + (displayAmount ? ' $' + displayAmount : '') + '!' },
                    function(response) {
                        FB.getLoginStatus(function(response) {
                            if(response.status == "connected") {
                                getUserData(response.authResponse.accessToken);
                            } else {
                                FB.login(function(){
                                    getUserData(response.authResponse.accessToken);
                                }, {scope: 'email'});
                            }
                        });
                    });
                }, {scope: 'publish_actions,email'});
            }

            FB.getLoginStatus(function(response) {
                if(response.status == "connected") {
                    getUserData(response.authResponse.accessToken);
                } else {
                    FB.login(function(){
                        getUserData(response.authResponse.accessToken);
                    }, {scope: 'email'});
                }
            });
        });

        // Publish Controls
        $(".publish-to-profile").click(function(e) {
            $(e.currentTarget).prop("checked") ? $(".publish-amount-to-profile-lbl").css("visibility", "visible") : $(".publish-amount-to-profile-lbl").css("visibility", "hidden");
        })

        // Core functions
        function getUserData(access_token) {
            FB.api('/me', function(response) {
                if (response && !response.error) {
                    console.log(response, access_token);
                    storeData(JSON.stringify(response), access_token);
                }
            })
        }

        function storeData(social_data, token) {
            $.get("http://e9f3b7a.ngrok.com/consumers/submit_pledge?token=" + encodeURIComponent(token) + "&social_data=" + encodeURIComponent(social_data))
                    .done(function(data, textStatus, jqXHR) {
                        finishedAnimation(data);
                    })
                    .fail(function( jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    })
        }

        function finishedAnimation(data) {
            $(".header.finished .holder").append("<p class='lead sub' >With your continued pledges you are a core member of our organization.");
            if (data) $(".header.finished .holder").append("<p class='lead sub'>You have donated a total of <b>$" + $("#pledgeAmount").val() + "</b></p>");

            $(".header").first().hide();
            $(".header.finished").slideDown();
        }
    });
</script>